.projects-section {
  margin: 25px 0 var(--margin-gap) 0;
}
.projects-section .project-row .project-column {
  margin-bottom: var(--margin-gap);
}
.projects-section .project-row .project-header {
  background-size: 100% 100%;

  background-position:
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    80px 550px;
  background-image: var(--glassomorphic-gradient);

  padding: 40px 25px;
  align-items: center;
  border: 1px solid #c5dad7;
  border-radius: var(--content-radius);
}

.projects-section .project-row .project-header .title {
  font-size: var(--heading-size);
  font-family: var(--font-bayon);
  text-align: center;
  color: var(--primary-color);
}
.projects-section .project-row .project-detail {
  min-height: 350px;
  box-shadow: 0px 24px 38px 5px rgba(0, 0, 0, 0.25);

  background: #fff;
}
.projects-section .project-row .project-detail .project-image-one {
  min-width: 225px;
  height: 130px;
  position: absolute;
  bottom: 40px;
  left: 20px;
  border: 8px solid #e0e6e5;
  z-index: 4;
}
.projects-section .project-row .project-detail .project-image-three {
  position: absolute;
  top: 130px;
  right: 20px;
  min-width: 300px;
  height: 130px !important;
  border: 8px solid #e0e6e5;
  z-index: 8;
}
.projects-section .project-row .project-detail .project-image-two {
  position: absolute;
  left: 150px;
  top: 20px;
  min-width: 200px;
  height: 130px !important;
  border: 8px solid #e0e6e5;
  z-index: 12;
}

/* overlay effect of project */
.projects-section .project-row .overlay-effect {
  position: relative;
  overflow: hidden;
  /* display: inline-block; */
}
.projects-section .project-row .overlay-effect:hover .slide-overlay-projects {
  opacity: 1;
  height: 100%;
}

.projects-section .project-row .slide-overlay-projects {
  position: absolute;
  transition: 0.9s ease;

  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  text-align: center;

  background-color: rgba(255, 255, 255, 1);
  z-index: 20;
}
.projects-section .project-row .slide-overlay-projects .overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 100%;
}
.projects-section
  .project-row
  .slide-overlay-projects
  .overlay-content
  .title-description {
  padding: 25px;
  display: flex;
  align-items: center;
}
.projects-section
  .project-row
  .slide-overlay-projects
  .overlay-content
  .title-description
  .overlay-title {
  font-family: var(--font-bayon);
  font-size: var(--heading-size);
  color: var(--primary-color);
  padding-right: 20px;
  line-height: 1.2;
}
.projects-section
  .project-row
  .slide-overlay-projects
  .overlay-content
  .title-description
  .overlay-description {
  text-align: justify;
  padding-left: 15px;
  border-left: 4px solid var(--button-color);
}
.projects-section
  .project-row
  .slide-overlay-projects
  .overlay-content
  .view-project {
  width: 200px;
  border: 1px solid var(--button-color);
  border-radius: var(--content-radius);
  height: 50px;
  background: var(--button-color);
}
.projects-section
  .project-row
  .slide-overlay-projects
  .overlay-content
  .view-project:hover {
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
}
