.experience-section .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50px;
  text-transform: uppercase;
  font-family: var(--font-bayon);
  font-size: var(--heading-size);
}

.experience-section .heading .experience-heading-icon {
  max-height: 50px;
}

.experience-section .experience-row {
  margin: var(--margin-gap) 0;
  background-size: 100% 100%;
  background-position:
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    80px 550px;
  background-image: var(--glassomorphic-gradient);

  padding: 40px 25px;
  align-items: center;
  border: 1px solid #c5dad7;
  border-radius: var(--content-radius);
}

.experience-section .experience-row .company-info .name-work .company-name {
  font-family: var(--font-bayon);
  font-size: var(--heading-size);
  letter-spacing: 3px;
  color: var(--primary-color);
}
.experience-section .experience-row .company-info .name-work .working-since {
  color: var(--description-color);
  font-size: 18px;
}
.experience-section .experience-row .company-info .name-work {
  line-height: 30px;
}
.experience-section .experience-row .designation {
  font-size: var(--sub-heading);
  margin-top: 10px;
}

.experience-row .roles-responsibility {
  font-size: var(--sub-heading);
  color: var(--primary-color);
}

.experience-row .responsibility-list {
  margin: 15px 0 0 22px;
  color: var(--description-color);
  line-height: 30px;
}

@media (max-width: 665px) {
  .experience-section .heading {
    font-size: var(--smaller-screen-heading-size);
  }
  .experience-section .heading .experience-heading-icon {
    max-height: 24px;
    width: 40px;
  }
  .experience-section .experience-row .company-info .name-work .working-since {
    font-size: var(--smaller-screen-regular-size);
  }
  .experience-section .experience-row .company-info .name-work .company-name {
    font-size: var(--smaller-screen-heading-size);
  }
  .experience-section .experience-row .designation {
    font-size: var(--smaller-screen-sub-heading-size);
  }
  .experience-row .roles-responsibility {
    font-size: var(--smaller-screen-heading-size);
  }
}
