.project-container {
  background: #fff;
  padding: 50px 15px 15px 15px;
  border-radius: var(--content-radius);
}
.project-section .project-container .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50px;
  text-transform: uppercase;
  font-family: var(--font-bayon);
  font-size: var(--heading-size);
  color: var(--primary-color);
  margin-bottom: 36px;
}

.project-section .project-container .heading .project-heading-icon {
  max-height: 50px;
}

.project-section .project-container .project-item-image {
  border: 16px solid var(--border-shade);
  border-radius: var(--content-radius);
  object-fit: contain;
  width: 100%;
}

.project-section
  .project-container
  :where(.css-dev-only-do-not-override-e9sgc0).ant-carousel
  .slick-next,
.project-section
  .project-container
  :where(.css-dev-only-do-not-override-e9sgc0).ant-carousel
  .slick-prev {
  color: #000 !important;
}
.project-section .project-container .carousel-item-container {
  padding: 15px 0;
}
.project-section .project-container .carousel-item-container .description {
  margin-left: 45px;
}

.project-section
  .project-container
  .carousel-item-container
  .description
  .project-btn {
  width: 200px;
  border: 1px solid var(--button-color);
  border-radius: var(--content-radius);
  height: 50px;
  background: var(--button-color);
  color: #000;
  margin-top: 12px;
}
.project-section
  .project-container
  .carousel-item-container
  .description
  .project-btn:hover {
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
}
.project-section .project-container .carousel-item-container .description h3 {
  color: #000;
  font-weight: 400;
  font-size: var(--heading-size);
  font-family: var(--font-bayon);
}

.project-section
  .project-container
  .carousel-item-container
  .description
  .technologies {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.project-section
  .project-container
  .carousel-item-container
  .description
  .technologies
  .technology {
  color: black;
  margin-right: 8px;
  border: 1px solid #efefef;
  border-radius: var(--content-radius);
  padding: 4px 12px;
  background: #efefef;
  white-space: nowrap;
}
.project-section
  .project-container
  .carousel-item-container
  .description
  .short-description {
  color: var(--description-color);
  width: 80%;
  margin-top: 40px;
}

/* Extra small (phones) */
@media (max-width: 575px) {
  .project-section .project-container .heading {
    font-size: var(--smaller-screen-heading-size);
  }

  .project-section .project-container .heading .project-heading-icon {
    max-height: 24px;
    width: 40px;
  }

  .project-section .project-container .project-item-image {
    width: 200px !important;
    height: 150px !important;
    margin: 0 auto;
  }
  .project-section .project-container .carousel-item-container .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin: 1px;
  }
  .project-section .project-container .carousel-item-container .description h3 {
    font-size: var(--smaller-screen-sub-heading-size);
    padding-left: 4px;
  }
  .project-section
    .project-container
    .carousel-item-container
    .description
    .technologies {
    font-size: var(--smaller-screen-regular-size);
  }
  .project-section
    .project-container
    .carousel-item-container
    .description
    .technologies
    .technology {
    /* color: black;
    margin-right: 8px;
    border: 1px solid #efefef;
    border-radius: var(--content-radius);
    padding: 4px 12px;
    background: #efefef; */
  }
  .project-section
    .project-container
    .carousel-item-container
    .description
    .short-description {
    font-size: var(--smaller-screen-regular-size);
    width: 100%;
  }

  .project-section
    .project-container
    .carousel-item-container
    .description
    .project-btn {
    width: 120px;
    border: 1px solid var(--button-color);
    border-radius: var(--content-radius);
    height: 30px;
    background: var(--button-color);
    color: #000;
    margin-top: 12px;
  }
}

/* Medium (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  /* .project-section .project-container .carousel-item-container .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  .project-section .project-container .project-item-image {
    margin: 0 auto;
  } */
}

/* Large (desktops) */

/* Extra large (large desktops) */
@media (min-width: 1200px) {
}
:where(.css-e9sgc0).ant-carousel .slick-prev,
:where(.css-e9sgc0).ant-carousel .slick-next {
  color: #000 !important;
}
