.footer-section {
  border-top: 1px solid var(--primary-color);
}
.footer-section .footer-row {
  padding: 30px 0;
}
.footer-section .footer-title {
  font-size: var(--sub-heading);
  color: var(--primary-color);
  margin-bottom: 15px;
}
.footer-section .footer-line {
  color: var(--description-color);
}

.footer-section .portfolio-logo {
  width: 225px;
  height: 60px;
}

@media (max-width: 665px) {
  .footer-section .footer-title {
    font-size: var(--smaller-screen-heading-size);
  }
  .portfolio-logo {
    width: 150px !important;
  }
}
